@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;800&display=swap');

html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #1a1818;
    overflow: hidden;
}

body {
    display: block;
    width: 100vw;
    min-height: 100%;
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: #fff;
    font-weight: 300;
    margin: 0;
    padding: 0;
    border: border-box;
    clear: both;
    overflow: hidden;
}

.main { 
    padding: 2.5rem;
    margin: 0;
    height: 100%;
    margin-top: 3rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 98%;
    height: 25%;
}

.header h2 {
    font-size: 6.03rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    z-index: 2;
}

.header h1 {
    font-size: 8.0rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #00FFFF;
    margin: 0;
    position: relative;
    right: -12rem;
    z-index: 2;
    text-shadow: 10px 5px 30px #00FFFF;
    animation: pulse 3s ease-in infinite;
}

@keyframes pulse {
    0% {
        text-shadow: 3px 1.5px 30px #031f1f;
    }

    50% {
        text-shadow: 6px 3px 30px #00FFFF;
    }

    100% {
        text-shadow: 3px 1.5px 30px #031f1f;
    }
}

.contentContainer {
    display: flex;
    padding: 0;
    margin: 0;
    width: 98%;
}

.headImage img {
    width: 45rem;
    height: 45rem;
    position: relative;
    top: -13rem;
    margin: 0;
    z-index: 1;
}

.textarea { 
    text-align: center;
    font-weight: 300;
    font-size: 1.8rem;
    position: relative;
    bottom: -5rem;
    line-height: 1;
  
}

.btn-wrapper__container {
    width: 100%;
    height: 80px;
    display: inline-block;
    position: relative;
    margin: 40px auto 0;
    background: transparent;
    border: 2px solid #0ff;
    color: #0ff;
    font-size: 100%;
    text-transform: uppercase;
    transition: .5s ease-in-out;
}

.btn-wrapper__container:hover {
    letter-spacing: 1px;
    box-shadow: 0 10px 30px #ff5858;
    color: #ff5858;
    border: 2px solid #ff5858;  
}


@media only screen and (min-width: 1026px) and (max-width: 1281px) {
    
    .header {
        width: 90%;
    }
    .header h2 {
        font-size: 4.03rem;
    }
    
    .header h1 {
        font-size: 6rem;
        right: -18rem;
    }
    
    .headImage img {
        top: -13rem;
       
    }
    
    .textarea { 
        font-size: 1.4rem;
        bottom: -5rem;
        right: 3rem;
        line-height: 1;
        width: 110%;
    }
}


    @media only screen and (max-width: 1025px) {

    .main { 
        margin-top: 0;
        margin-bottom: 20px;
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header {
        width: 90%;
    }
    .header h2 {
        font-size: 2.25rem;
    }
    
    .header h1 {
        font-size: 5.5rem;
        position: inherit;
    }

    .contentContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85%;
        right: 5%;
        left: 5%;
    }  
    
    .headImage img {
        width: 35rem;
        height: 35rem;
        top: -8rem;
        margin: 0;
        z-index: 1;
    }
    
    .textarea { 
        text-align: center;
        font-weight: 300;
        font-size: 1.5rem;
        bottom: 10rem;
        line-height: 1.5;
        width: 110%;

    }
    
    .btn-wrapper__container {
        height: 60px;
    }
}

@media only screen and (max-width: 550px) {

    .main { 
        margin-top: 0;
    }

    .header h2 {
        font-size: 1.25rem;
    }
    
    .header h1 {
        font-size: 3.5rem;
    } 
    
    .headImage img {
        width: 25rem;
        height: 25rem;
        top: -8rem;
    }
    
    .textarea { 
        text-align: center;
        font-weight: 300;
        font-size: .8rem;
        bottom: 10rem;
        right: 0;
    }
}

@media only screen and (max-width: 361px) {
    .header h2 {
        font-size: 1rem;
    }
    
    .header h1 {
        font-size: 2.5rem;
    } 
    
    .headImage img {
        width: 15rem;
        height: 15rem;
        top: -2rem;
    }
    
    .textarea { 
        text-align: center;
        font-weight: 300;
        font-size: .75rem;
        bottom: 4rem;
        right: 0;
    }
}